body {
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

header,
footer {
    background: #07824f;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 1rem;
    max-width: 600px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

label,
fieldset {
    font-weight: bold;
}

.rating-group {
    display: flex;
    justify-content: space-around;
}

.rating-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

fieldset {
    border: 2px solid #ccc;
    padding: 1rem;
}

.feature {
    display: block;
    margin-bottom: 0.5rem;
}

.feature label {
    font-weight: normal;
}

.card {
    text-align: center;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
}

input[type="submit"] {
    background: #20a05d;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.7rem;
}

input[type="submit"]:hover {
    background: #02552a;
}


@media (min-width: 640px) {
    form {
        gap: 1.2rem;
    }
}