:root {
    --primary: #0f172a;
    --accent: #3b82f6;
    --light: #f8fafc;
    --gray: #64748b;
    --card-bg: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: var(--light);
    color: var(--primary);
    line-height: 1.6;
}

header {
    background: var(--primary);
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 25px;

}

#course-title {
    /* display: block; */
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}


nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
    padding: 0.5rem 0.75rem;
    transition: all 0.3s ease;
    border-radius: 6px;
}

nav a:hover {
    background-color: var(--accent);
    color: white;
    transform: translateY(-2px);
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 100;
}

h3 {
    text-align: center;

}

main {
    display: flex;
    max-width: 900px;
    margin: 2rem auto;
    padding: 1.5rem;
    gap: 1rem;

}

.profile {
    float: left;
    width: 200px;
    height: 220px;
    object-fit: cover;
    margin: 0 1rem 1rem 0;
    border-radius: 8px;

}

.resources {
    width: 600px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background: var(--card-bg);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    outline: 1px solid var(--primary);
    /* height: 600px; */
    overflow: auto;
}

.about-card {
    flex: 2;
    height: fit-content;
}

.resources-card {
    flex: 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.card h1,
.card h3 {
    margin: -1.5rem -1.5rem 1rem -1.5rem;
    border-radius: 5px;
    min-height: 60px;
    /* display: flex; */
    align-items: center;
    /* justify-content: center; */
    padding: 0 1rem;
}

.card h1 {
    background-color: #0f172a;
    color: #3b82f6;

}

.card h2 {
    font-size: 1.25rem;
    color: var(--gray);
}

.card h3 {
    background-color: #0f172a;
    color: #3b82f6;
    width: 100%;
    margin: -1.5rem -1.5rem 1rem -1.5rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    /* justify-content: center; */
}

.card img {
    display: block;
    float: right;
    max-width: 100%;
    margin: 0 auto 1rem auto;
    border-radius: 8px;
}



.country {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 1.5rem;
    align-items: flex-start;
    width: 100%;
}

.country img {
    width: 150px;
    border-radius: 10px;
}

.card p {
    margin-bottom: 1rem;
    font-size: 12px;
}

footer {
    background: var(--primary);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

footer p {
    margin: 0.3rem 0;
    font-size: 0.9rem;
}